<h1>Myfrecomm Test</h1>
<p>Esse site esta em duas linguas inglês e português</p>
<ul>
  <li><a href="http://localhost:3000/en/products/">Inglês</a></li>
  <li><a href="http://localhost:3000/pt-BR/products/">Português</a></li>
</ul>

