body{
  font-size:62.5%/1.4 sans-serif;
}
h1{
  text-align:center;
  margin: 1em;
}

/* index product - http://localhost:3000/pt-BR/products/ */
table{
  thead{
    tr{
      background-color: #000041;

      th{
        color: #fff;
        font-size:1.4em;
      }
    }
  }
  tbody{
    tr{
      td{
        padding: 1.5em;
        border:1px solid #000;
        text-align:center;
        background: #003b8f;
        color: #fff;
        a{
          text-decoration:none;
            color: #000;
          }
      }

    }
    tr:nth-child(odd) {
      td{
      background: #006db8;
    }
     }

  }
}
#new-button{
  margin-top:4em;
  text-align:center;

  a{
    text-decoration:none;
    background:#00000d;
    padding: 2em;
    color:#fff;
    border-radius: 0.5em;
  }
}



/* new product http://localhost:3000/pt-BR/products/new */
.field{
  display:block;
  margin-left:10em;
  margin-right:10em;
  margin-top: 1em;
  input[type="text"]{
    width:20em;
    border:1px solid #d1d2d3;
    padding: 0.5em;
    &:focus{
      border:1px solid #a29cff;
    }

  }
}

