body{
  font-size:62.5%/1.4 sans-serif;
}
h1{
  text-align:center;
  margin: 1em;
}

/* index product - http://localhost:3000/pt-BR/products/ */
table{
  thead{
    tr{
      background-color: #000041;

      th{
        color: #fff;
        font-size:1.4em;
      }
    }
  }
  tbody{
    tr{
      td{
        padding: 1.5em;
        border:1px solid #000;
        text-align:center;
        background: #003b8f;
        color: #fff;
        a{
          text-decoration:none;
            color: #fff;
          }
      }

    }
    tr:nth-child(odd) {
      td{
      background: #006db8;
    }
     }

  }
}
#new-button {
  margin-top:4em;
  text-align:center;

  a{
    text-decoration:none;
    background:#00000d;
    padding: 2em;
    color:#fff;
    border-radius: 0.5em;
  }
}


/* form */
form{
  margin-left:20em ;
  margin-right:20em;
}
.field{
  margin-top: 1em ;
  margin-left:2em;
  margin-right:2em;
  input[type="text"]{
    width:20em;
    border:1px solid #d1d2d3;
    padding: 0.5em;

    &:focus{
      border:1px solid #a29cff;
    }
  }

}

.actions{
  margin-top:2em;
  margin-left:2em;
  input[type="submit"]{
    border:none;
    padding: 2em;
    color:#fff;
    background:#00000d;
    border-radius:0.5em;
  }
}



/* new product http://localhost:3000/pt-BR/products/new */
#back-button{
  margin-top:1em;
  margin-left:10em;
  font-size:2em;
  a{
    text-decoration:none;
    color:#000;
  }
}


/* show product http://localhost:3000/en/products/<pk> */
.show-text-product{
  box-shadow:0 0 5px 0 #d1d1d2;
  margin-left:1em;
  padding:1em;
  p{
    color:#343434;
  }
}
/* show and edit */
.show-back-button-product{
  margin-top:2em;
  margin-left:1em;
  a{
    padding:1em;
    border-radius:0.5em;
    background:#00000d;
    text-decoration:none;
    color:#fff;
  }

}
